@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

.section {
  @apply max-w-7xl w-full mx-auto;
}

.btn-animation {
  @apply active:scale-95 transition-transform duration-100 ease-in;
}

.generate-btn-animation {
  @apply active:scale-[0.97] transition-transform duration-100 ease-in;
}

body{
  overflow-y: scroll;
}

.open-social {
animation-name: open-social-profile-animation;
animation-duration: 0.3s;
animation-timing-function: ease;
animation-timeline: auto
}

@keyframes open-social-profile-animation {
  from{
    scale: 0;
    transform-origin: 50% 0;
  }
  to{
    /* transform-origin: 50% 50%; */
    scale: 1;
  }
}